name: Continuous Integration
# This workflow is triggered on pushes to the repository.
on: [push]
jobs:
  build:
    # Job name is Integration
    name: Integration
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      - name: markdownlint
        # stage: linting
        uses: docker://pipelinecomponents/markdownlint:latest
        run: mdl --style all --warnings .
        # image: pipelinecomponents/markdownlint:latest
        # script:
        #   - mdl --style all --warnings .

# every step must define a uses or run key


# jobs:
#   my_first_job:
#     name: My Job Name
#       steps:
#         - uses: actions/setup-node@v1
#           with:
#             node-version: 10.x

# name: Greet Everyone
# # This workflow is triggered on pushes to the repository.
# on: [push]

# jobs:
#   build:
#     # Job name is Greeting
#     name: Greeting
#     # This job runs on Linux
#     runs-on: ubuntu-latest
#     steps:
#       # This step uses GitHub's hello-world-javascript-action: https://github.com/actions/hello-world-javascript-action
#       - name: Hello world
#         uses: actions/hello-world-javascript-action@v1
#         with:
#           who-to-greet: 'Mona the Octocat'
#         id: hello
#       # This step prints an output (time) from the previous step's action.
#       - name: Echo the greeting's time
#         run: echo 'The time was ${{ steps.hello.outputs.time }}.'