name: Continuous Integration
# This workflow is triggered on pushes to the repository.
on: [push]
jobs:
  build:
    # Job name is Integration
    name: Integration
    # This job runs on Linux
    # runs-on: ubuntu-latest
    steps:
      - markdownlint:
        stage: linting
        image: pipelinecomponents/markdownlint:latest
        script:
          - mdl --style all --warnings .
