name: Continuous Integration
# This workflow is triggered on pushes to the repository.
on: [push]
jobs:
  build:
    # Job name is Integration
    name: Integration
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # Checkout current branch
      - name: Checkout current repo
        id: Checkout
        uses: actions/checkout@v2
      # Run Markdownlint
      - name: markdownlint
        id: markdownlint
        # stage: linting
        uses: docker://pipelinecomponents/markdownlint:latest
        with:
          entrypoint: /app/bin/mdl
          args: --style all --warnings /github/workspace
